# node_modules
/node_modules
**/node_modules

# buids
/dist 
**/dist
/lib

# Markdown (README)
README-npm.md


# Example (Test)
/example/package-lock.json

# sb (Storybook)
sb/*storybook.log
sb/.storybook*
sb/storybook*

# Package json
**/package-lock.json

# yarn
yarn*
**/yarn*