# node_modules
**/node_modules
node_modules/

# builds
**/dist
dist/


# Markdown (README)
**/README-npm.md

# Example (example-vite)
/app/example-vite/package-lock.json

# Example (example-webpack)
/app/example-webpack/package-lock.json

# Package (Package)
/package/package-lock.json
/package/node_modules

# sb (Storybook)
stroybook/*storybook.log
stroybook/.storybook*
stroybook/storybook*
stroybook/build-storybook.log

# Package json
**/package-lock.json

# yarn
**/yarn*

# env
package/.env**
package/_dummy