# node_modules
**/node_modules

# builds
**/dist
/lib

# Markdown (README)
**/README-npm.md

# Example (Test)
/example/package-lock.json

# Package (Package)
/package/package-lock.json
/package/node_modules

# sb (Storybook)
stroybook/*storybook.log
stroybook/.storybook*
stroybook/storybook*
stroybook/build-storybook.log

# Package json
**/package-lock.json

# yarn
**/yarn*

# env
package/.env**
