.accordion-item,
.accordion-item > div > a {
  color: var(--bg_01);
}

.accordion-item > .accordion-toggle {
  font-weight: 700;
  font-size: 18px;
  color: var(--bg_01);
}
.accordion-item > div {
  padding: 8px;
  cursor: pointer;
  font-weight: normal; /* 기본 폰트 굵기 */
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.accordion-item > div:hover {
  background-color: #ddd;
  font-weight: bold; /* hover 시 텍스트 굵기 증가 */
  color: #333; /* hover 시 색상 변경 */
}
.accordion-item .side-bar-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-item.active .side-bar-content {
  display: block;
  max-height: 1000px;
}

/* 추가적인 애니메이션 효과 */
.accordion-item .side-bar-content {
  max-height: 0;
  opacity: 0;
}

.accordion-item.active .side-bar-content {
  opacity: 1;
  max-height: 1000px;
}
