*{box-sizing: border-box;}
body,html{font-size:1rem}
header, footer, main, article,blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,span,td,textarea,th,ul{margin:0;padding:0;font-family:"Pretendard Variable", 'sans-serif';line-height:1.2;}
fieldset,img{border:0 none}
img{max-width: 100%;vertical-align: top}
dl,li,menu,ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}
button,input,select,textarea{vertical-align:middle;border:none; outline:none;background:0 0}
body{-webkit-text-size-adjust:none}
table{border-collapse:collapse;border-spacing:0;}
input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none}
a{color:#fff;text-decoration:none; cursor: pointer;}
a:active,a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
.hidden_tag{display:inline-block;position:absolute;z-index:-1;width:1px;height:1px;overflow:hidden;border:0;clip:rect(1px,1px,1px,1px);-webkit-clip-path:inset(50%);clip-path:inset(50%)}
body{min-height: 100vh; overflow-x:hidden;padding:0;margin:0;border:0;text-align:unset;}
ul{list-style:none;margin-top:0;margin-bottom:1rem;padding-left:2rem}
li,ul{list-style:none;margin:0;padding:0;border:0;font-size:100%;}
button{margin:0;padding:0;border:0;font-size:100%;cursor:pointer;background-color:transparent;line-height:1;word-break:keep-all;}