/*공통으로 쓰일 스타일*/

@import "_mixin.scss";

.cl {
  clear: both;
}
.tal {
  text-align: left !important;
}
.tar {
  text-align: right !important;
}
.tac {
  text-align: center !important;
}
.tae {
  text-align: end !important;
}
.hauto {
  height: auto !important;
}
.wauto {
  width: auto !important;
}
.as_start {
  align-self: start;
}
.as_center {
  align-self: center;
}
.ai_center {
  align-items: center;
}
.ai_end {
  align-items: flex-end;
}
.valign_top {
  vertical-align: top;
}
.flex1 {
  flex: 1;
}
.fs_bold {
  font-weight: 700 !important;
}
.fs_medium {
  font-weight: 500;
}
.one_full {
  width: 100% !important;
}
.op00 {
  opacity: 0 !important;
}
.op02 {
  opacity: 0.2 !important;
}
.op04 {
  opacity: 0.4 !important;
}
.op06 {
  opacity: 0.6 !important;
}
.op10 {
  opacity: 1 !important;
}
.dpblock {
  display: block !important;
}
.dpnone {
  display: none !important;
}
.posrel {
  position: relative !important;
}
.posab {
  position: absolute !important;
}
.ab_trans_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lh_28 {
  line-height: 1.75rem !important;
}
.lh_21 {
  line-height: 1.3125rem !important;
}
.lh_18 {
  line-height: 1.125rem !important;
}
.lh_16 {
  line-height: 16px !important;
}
.ls_3 {
  letter-spacing: 0.1875rem;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* placeholder */
input::placeholder,
textarea::placeholder {
  color: var(--white-w_40);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--white-w_40);
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--white-w_40);
}
input:-moz-input-placeholder,
textarea:-moz-input-placeholder {
  color: var(--white-w_40);
}
input[type="password"] {
  letter-spacing: 1px;
}
/*scroll*/
.scroll,
.textarea {
  overflow: overlay;
  &.sc_y {
    overflow: hidden;
    overflow-y: auto;
    padding: 0 8px 0 0;
    &.main {
      max-height: 23.438rem;
    }
    &.user {
      max-height: calc(100% - 34px);
    }
  }
}
.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.textarea::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.scroll::-webkit-scrollbar-thumb,
.textarea::-webkit-scrollbar-thumb {
  background-color: #ddd;
  background-color: $bg_grey38;
  background-color: var(--white-w_40);
  border-radius: 4px;
}
.scroll::-webkit-scrollbar-track,
.textarea::-webkit-scrollbar-track {
  background-color: none;
}
.scroll::-webkit-scrollbar-corner,
.textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}
// scroll menu
.overflow_y {
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--white-w_40);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

// font color
.text_error {
  color: $bg_error !important;
}
.fc_black99 {
  color: $bg_black99 !important;
}
.fc_black60 {
  color: $bg_black60 !important;
}
.fc_black87 {
  color: $bg_black87 !important;
}
.fc_black40 {
  color: $bg_black40 !important;
}
.fc_error {
  color: $fc_error !important;
}

.fc_grey87 {
  color: $bg_grey87 !important;
}
.fc_grey80 {
  color: var(--alpha-bk-to-whbk-80) !important;
}
.fc_grey60 {
  color: var(--alpha-bk-to-whbk-60) !important;
}
.fc_white {
  color: $fc_white !important;
}
.fc_default {
  color: var(--white-w_87) !important;
}

// font size
.fs_24_bold {
  @include fs_24_bold;
}
.fs_24_medium {
  @include fs_24_medium;
}
.fs_20_medium {
  @include fs_20_medium;
}
.fs_18_bold {
  @include fs_18_bold;
}
.fs_18_medium {
  @include fs_18_medium;
}
.fs_16_bold {
  @include fs_16_bold;
}
.fs_16_medium {
  @include fs_16_medium;
}
.fs_16 {
  @include fs_16_regular;
}
.fs_14_bold {
  @include fs_14_bold;
}
.fs_14_medium {
  @include fs_14_medium;
}
.fs_14 {
  @include fs_14_regular;
}
.fs_14_light {
  @include fs_14_light;
}
.fs_13_medium {
  @include fs_13_medium;
}
.fs_13 {
  @include fs_13_regular;
}
.fs_12_medium {
  @include fs_12_medium;
}
.fs_12 {
  @include fs_12_regular;
}
.fs_11_medium {
  @include fs_11_medium;
}
.fs_11 {
  @include fs_11_regular;
}
.fs_10 {
  @include fs_10_regular;
}

// bg, border
.border_radius50 {
  @include border_radius50;
}
.border_radius0 {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

// web color, bg
.bg_black {
  background-color: $bg_black100;
}
.bg_grey50 {
  background: $bg_grey50;
}
.bg_grey40 {
  background: $bg_grey40;
}
.bg_grey30 {
  background: $bg_grey30;
}
.bg_grey20 {
  background: $bg_grey20;
}
.bg_grey16 {
  background: $bg_grey16;
}
.bg_grey10 {
  background: $bg_grey10;
}
.bg_grey06 {
  background: $bg_grey06;
}
.bg_black40 {
  background: $bg_black40;
}
.bg_purple {
  background: rgba(255, 0, 255, 0.4);
}
.bg_greye0 {
  background: $bg_greye0;
}

/* flex */
.dflx {
  display: flex;
}
.dflx_as {
  display: flex;
  align-items: flex-start;
}
.dflx_ac {
  display: flex;
  align-items: center;
}
.dflx_ae {
  display: flex;
  align-items: flex-end;
}
.dflx_jbet {
  display: flex;
  justify-content: space-between;
}
.dflx_jard {
  display: flex;
  justify-content: space-around;
}
.dflx_jstart {
  display: flex;
  justify-content: flex-start;
}
.dflx_dcol_jbet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dflx_jcent {
  display: flex;
  justify-content: center;
}
.dflx_jend {
  display: flex;
  justify-content: flex-end;
}
.dflx_ac_jcent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dflx_as_jbet {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.dflx_ac_jbet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dflx_ae_jbet {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.dflx_ac_jend {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flx_wrap {
  flex-wrap: wrap;
}
.flx_nowrap {
  flex-wrap: nowrap;
}

/* grid */
.flow_hidden {
  overflow: hidden !important;
}
.display_none {
  display: none !important;
}
.display_block {
  display: block !important;
}
.display_grid {
  display: grid;
}
.dflx_ac_jc_full {
  @include layout_acjc;
  display: flex;
  flex: auto;
  height: 100%;
}
.display_flex {
  display: flex;
}
.dflx_column {
  display: flex;
  flex-direction: column !important;
}
.flex_column {
  flex-direction: column !important;
}
.grid_column1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.grid_column2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid_column3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid_column4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.grid_column5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid_column6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.gird_column8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.gird_column10 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.gird_column11 {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}
.gird_column13 {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
}
.gird_column14 {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
}
.layout_acjc {
  @include layout_acjc;
}
.layout_acjb {
  @include layout_acjb;
}
.layout_ac {
  align-items: center;
}
.layout_as {
  align-items: flex-start;
}
.align_end {
  align-self: flex-end;
}

.column_1 {
  width: 100% !important;
}
.column_2 {
  width: 50% !important;
}
.column_3 {
  width: calc(100% / 3);
}
.column_4 {
  width: 25%;
}
.column_5 {
  width: 20%;
}
.column_6 {
  width: calc(100% / 6);
}
.column_7 {
  width: calc(100% / 7);
}
.column_8 {
  width: calc(100% / 8);
}
.column_9 {
  width: calc(100% / 9);
}
.column_10 {
  width: 10%;
}
.column_11 {
  width: calc(100% / 11);
}
.column_12 {
  width: calc(100% / 12);
}

.gap_0 {
  gap: 0 !important;
}
.gap_1 {
  gap: 1px;
}
.gap_2 {
  gap: 2px;
}
.gap_3 {
  gap: 3px;
}
.gap_4 {
  gap: 4px;
}
.gap_5 {
  gap: 5px;
}
.gap_6 {
  gap: 6px;
}
.gap_7 {
  gap: 7px;
}
.gap_8 {
  gap: 8px;
}
.gap_9 {
  gap: 9px;
}
.gap_10 {
  gap: 10px;
}
.gap_11 {
  gap: 11px;
}
.gap_12 {
  gap: 12px;
}
.gap_13 {
  gap: 13px;
}
.gap_14 {
  gap: 14px;
}
.gap_15 {
  gap: 15px;
}
.gap_16 {
  gap: 16px;
}
.gap_17 {
  gap: 17px;
}
.gap_18 {
  gap: 18px;
}
.gap_19 {
  gap: 19px;
}
.gap_20 {
  gap: 20px;
}
.gap_24 {
  gap: 24px;
}
.gap_28 {
  gap: 28px;
}
.gap_30 {
  gap: 30px;
}
.gap_32 {
  gap: 32px;
}
.gap_40 {
  gap: 40px;
}
.gap_50 {
  gap: 50px;
}
.gap_60 {
  gap: 60px;
}
.gap_64 {
  gap: 64px;
}
.gap_80 {
  gap: 80px;
}
.gap_row8 {
  row-gap: 8px;
}
.gap_row10 {
  row-gap: 10px;
}
.gap_row16 {
  row-gap: 16px;
}
.auto_row24 {
  display: grid;
  grid-auto-rows: 24px;
}
.auto_row32 {
  display: grid;
  grid-auto-rows: 32px;
}
.gap_colm8 {
  column-gap: 8px;
}

/* button */
.radius_10 {
  @include border_radius10;
}
.radius_2 {
  @include border_radius02;
}
.row_box {
  @include row_box;
}
button {
  .img {
    display: block;
  }
  .img_on {
    display: none;
  }
  &:hover:not(.hover):not(.legend):not(.selected):not(.disabled),
  &:active:not(.disabled),
  &.selected {
    .img {
      display: none;
    }
    .img_on {
      display: block;
    }
  }
  &.disabled {
    .img {
      display: block;
    }
    .img_on {
      display: none;
    }
  }
}

.btn_primary {
  @include button_primary;
}
.btn_secondary {
  @include button_secondary;
}
.btn_line {
  @include button_line;
}
.btn_icon {
  @include button_icon;
}
.btn_line_icon {
  @include button_line_icon;
}
.text_btn {
  font-size: 14px;
  font-weight: 400;
  color: var(--alpha-bk-to-whbk-87);
  &.basic {
    color: rgba(0, 0, 0, 0.6);
  }
  &.with {
    @include dflx_ac;
    column-gap: 8px;
    color: #000;
  }
  &.disabled {
    color: var(--alpha-bk-to-whbk-20);
  }
  &:hover:not(.disabled),
  &.hover {
    font-weight: 500;
  }
  &.link {
    color: #70a3e0;
  }
}
.icon_primary {
  @include button_primary;
  width: auto;
}
.icon_ffb {
  @include backFilter;
  @include box_shadow16;
  background: var(--bg_01_80);
  border: 1px solid var(--line-wh_12-to-100);
  z-index: 1;
  &:hover,
  &.selected {
    border: 1px solid var(--line-wh_12-to-100);
  }
  &.line {
    border: 1px solid var(--white-w_12);
    background: var(--bg_01_80);
    backdrop-filter: unset;
  }
  &.disabled {
    opacity: 0.6;
  }
}
.icon_ghost {
  background: transparent;
}
.btn_xl {
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.0316px;
}
.btn_l {
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.0316px;
}
.btn_s {
  height: 32px;
  font-weight: 700;
  font-size: 14px;
}
.btn_xs {
  height: 28px;
  font-weight: 500;
  font-size: 14px;
  width: auto;
  padding: 8px;
}

.btn_flexible {
  width: auto;
}
.btn_auto {
  min-width: auto !important;
}

.btn_file {
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  padding: 10px 12px;
  border-radius: 4px;
  white-space: nowrap;
}
.btn_url {
  height: 32px;
  font-size: 14px;
  font-weight: 700;
  width: auto;
  padding: 10px 8px;
  border-radius: 8px;
  white-space: nowrap;
}
.btn_arrow_s {
  @include dflx_ac_jcent;
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: var(--white-w_12);
  border-radius: 2px;
  &:hover:not(.hover),
  &:active,
  &.selected,
  &.hover {
    background: var(--white-w_16);
  }
}
.btn_icon_box {
  @include dflx_ac_jcent;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 8px;
  background: var(--Neutral-Gray-02);
  &:hover {
    opacity: 0.7;
  }
}
.put_drop {
  width: 20px;
  height: 20px;
  cursor: pointer;
  &.up {
    transform: rotate(180deg);
  }
  &.down {
    transform: rotate(180deg);
  }
}
.circle_grey28 {
  @include circle28;
  padding: 0;
  background-color: var(--white-w_20);
  &.popover {
    background-color: rgba(74, 78, 102, 0.8);
  }
  &.map {
    background-color: #0068e6;
    border: 1px solid $bg_black30;
  }
}
.circle16,
.circle32,
.circle48,
.circle64 {
  @include circle32;
  padding: 0;
  background-color: transparent;
}
.circle16 {
  width: 16px;
  height: 16px;
}
.circle_grey32 {
  @include circle32;
  padding: 0;
  background-color: $bg_grey20;
  &.line {
    background-color: transparent;
    border: 1px solid var(--white-w_12);
  }
  + .word_medium {
    @include fs_14_medium;
    &.selected,
    &:hover {
      font-weight: 700;
    }
  }
}
.shadow {
  @include dflx_ac;
  height: 100%;
}
.icon_box {
  @include dflx_ac_jcent;
  width: 24px;
  height: 24px;
  padding: 4px;
  border-radius: 8px;
  background: var(--Neutral-Gray-03);
}

/* font style*/
.fc_sec_btn {
  color: var(--alpha-bk-to-whbk-100);
}
.fc_blue {
  color: #004ea2;
}

.switch_room {
  width: 40px;
  height: 24px;
}
.switch_checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none !important;
}
.switch_label {
  @include dflx_ac;
  cursor: pointer;
  width: 40px;
  height: 24px;
  background: var(--white-w_16);
  border-radius: 32px;
  position: relative;
  transition: 0.2s;
}
.switch_label .switch_button {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  transition: 0.2s;
  background: var(--white-w_40);
}
.switch_room.on .switch_label {
  background: var(--PRI);
}
.switch_room.on .switch_label .switch_button {
  left: calc(100% - 0.25rem);
  transform: translateX(-100%);
  background: #fff;
}

.put_zone {
  position: relative;
  // width: 100%;
  .wrput {
    width: 100%;
    &.large {
      + .put_check {
        top: 14px;
        right: 16px;
      }
      + .put_see {
        top: 11px;
        right: 14px;
      }
    }
  }
  .timer {
    position: absolute;
    top: 17px;
    right: 16px;
    margin-right: auto;
    color: var(--alpha-bk-to-whbk-40);
    font-size: 12px;
    font-weight: 400;
    &.medium {
      top: 14px;
      right: 16px;
    }
    &.small {
      top: 11px;
      right: 16px;
    }
    &.x_small {
      top: 9px;
      right: 16px;
    }
    &.disabled {
      color: #f13138;
    }
  }
}
.wrput {
  @include fs_16_regular;
  width: 200px;
  background-color: transparent;
  border: 1px solid var(--alpha-bk-to-whbk-20);
  border-radius: 4px;
  color: var(--alpha-bk-to-whbk-87);
  line-height: 1;
  letter-spacing: 0.5px;
  padding: 0 12px 0 16px;
  ::placeholder {
    color: var(--alpha-bk-to-whbk-40) !important;
  }
  &.on,
  &:focus:not(.disabled) {
    border: 1px solid var(--PRI) !important;
    color: var(--alpha-bk-to-whbk-87);
  }
  &.large {
    width: 100%;
    height: 48px;
  }
  &.medium {
    @include fs_14_regular;
    width: 100%;
    height: 40px;
    padding: 0 8px 0 12px;
  }
  &.small {
    @include fs_14_regular;
    width: 100%;
    height: 32px;
    padding: 0 12px;
  }
  &.x_small {
    @include fs_14_regular;
    width: 100%;
    height: 28px;
    padding: 0 8px 0 12px;
  }
  &.disabled {
    background: var(--input-select-fill-disabled);
  }
  &.login {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background: var(--alpha-white-w_20);
  }
  &.time {
    border-radius: 8px;
    padding: 0 49px 0 12px;
    border: transparent !important;
    background: var(--alpha-white-w_20);
  }
  &.line {
    border-radius: 4px;
    border: 1px solid var(--alpha-bk-to-whbk-20);
    background: transparent;
    &.disabled {
      border: 1px solid var(--alpha-bk-to-whbk-10);
      background: var(--alpha-bk-to-whbk-10);
    }
  }
  &.fill {
    border-radius: 4px;
    background: var(--input-select-fill-disabled);
    &.on,
    &:focus:not(.disabled) {
      background: transparent;
      color: var(--alpha-bk-to-whbk-87);
    }
    &.disabled {
      background: var(--input-select-fill-disabled);
    }
  }
  &.modal {
    border-radius: 4px;
    border: 1px solid transparent;
    background: var(--alpha-bk-to-whbk-10);
  }
  &.modal_put {
    border: 1px solid var(--input-select-line);
    background: var(--input-select-fill);
  }
}
.img_down {
  display: none;
}
.textarea {
  @include fs_14_regular;
  width: 100%;
  height: 100%;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--input-select-line);
  background: var(--input-select-fill);
  padding: 8px 16px;
  color: var(--alpha-bk-to-whbk-87);
  line-height: 1.3;
  &.mini {
    height: 120px;
    padding: 8px 12px;
  }
}
.btn_srch {
  @include dflx_ac_jcent;
  @include fs_16_bold;
  @include border_radius04;
  color: var(--alpha-white-w_100);
  height: 40px;
  padding: 10px 12px;
  background-color: var(--PRI);
  text-indent: -9999px;
  &.medium {
    height: 32px;
  }
  &.small {
    height: 32px;
  }
  &.x_small {
    height: 28px;
  }
  &:hover:not(.selected):not(.on):not(.disabled),
  &.selected {
    background-color: var(--white-w_16);
  }
  &.on,
  &:active:not(.selected):not(.on):not(.disabled) {
    color: var(--white-w_100);
    background-color: var(--btn-btn_selected);
    span {
      opacity: 1 !important;
    }
  }
  &.word {
    width: auto;
    padding: 0 8px;
    text-indent: 0;
  }
  &.srch {
    &.on,
    &:active:not(.selected):not(.on) {
      color: var(--white-w_100);
      background-color: var(--btn-btn_default);
      span {
        opacity: 1 !important;
      }
    }
  }
  &.disabled {
    color: var(--alpha-bk-to-whbk-10);
    background: var(--alpha-bk-to-whbk-20);
  }
}
.srch_line {
  @include dflx_ac;
  column-gap: 4px;
}
.selector {
  @include fs_14_regular;
  width: 320px;
  height: 32px;
  padding: 0 28px 0 12px;
  color: var(--alpha-bk-to-whbk-87);
  appearance: none;
  background-color: #101620;
  background-image: url(../images/chevron_down_fff_16.svg);
  background-repeat: no-repeat;
  background-position: 96% 56%;
  background-size: 16px 16px;
  border-radius: 4px;
  border: 1px solid var(--alpha-bk-to-whbk-20);
  cursor: pointer;
  &.fill {
    background-color: var(--more-bright-wh_12-to-6);
    border: 1px solid transparent;
    option {
      color: #000;
    }
  }
  &.sm {
    @include fs_13_regular;
    width: 7.5rem;
    background-size: 16px 16px;
  }
  &.sign {
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--input-select-line);
    background: var(--alpha-white-w_20);
  }
  &.on,
  &:focus:not(.disabled) {
    border: 1px solid var(--PRI);
  }
  &.modal {
    border: 1px solid var(--input-select-line);
    background-color: var(--input-select-modal);
  }
}
.circle_g32 {
  @include dflx_ac_jcent;
  width: 32px;
  height: 32px;
  background: #4a4e66;
  border: 2px solid var(--etc-bg);
  border-radius: 100%;
  overflow: hidden;
  &:hover,
  &:focus,
  &.hover {
    background: #636771;
  }
  img {
    width: 16px;
  }
}
.profile_photo {
  position: relative;
  width: 80px;
  height: 80px;
  .circle_g32 {
    position: absolute;
    cursor: pointer;
    right: -4px;
    bottom: -4px;
    z-index: 30;
  }
}
.photo_circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 100%;
  overflow: hidden;
  img {
    @include ab_trans_center;
    width: 100%;
    &.img_prof {
      width: 40px;
    }
    &.img_member {
      width: 20px;
    }
  }
}
.admin_circle {
  @include dflx_ac_jcent;
  width: 40px;
  height: 40px;
  background-color: var(--wh-12);
  border-radius: 50px;
  overflow: hidden;
  img {
    width: 100%;
    &.img_member {
      width: 20px;
    }
  }
}
/*header*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 48px;
  z-index: 200;
  background-color: var(--bg_01_80);
  &.two_line {
    height: 80px;
    background-color: var(--bg_01_80);
    border-bottom: 1px solid var(--line-wh_20-to-100);
  }
}
.header_in {
  @include dflx_ac_jbet;
  @include backFilter_solve;
  position: relative;
  width: 100%;
  height: 100%;
}
.header_left {
  @include dflx_ac;
  column-gap: 16px;
  padding: 0 16px 0 0;
}
.header_logo {
  @include dflx_ac;
  a {
    @include dflx_ac;
  }
}
.logo_hd_kisa {
  width: 96px;
  margin-bottom: 8px;
}
.gnb {
  height: 100%;
  ul {
    @include dflx_ac;
    height: 100%;
    li {
      a {
        @include fs_14_medium;
        display: block;
        color: var(--more-visible-wh_60-to-100);
        letter-spacing: -0.0316px;
        word-break: keep-all;
        cursor: pointer;
        &.on,
        &:hover,
        &:focus {
          color: var(--primary-pri_100);
        }
      }
    }
  }
  &.two_line {
    height: 100%;
    ul {
      @include dflx_ac;
      height: 50%;
      li {
        a {
          @include fs_14_regular;
          display: block;
          color: var(--more-visible-wh_60-to-100);
          letter-spacing: -0.0316px;
          word-break: keep-all;
          cursor: pointer;
          &.on,
          &:hover,
          &:focus {
            color: var(--primary-pri_100);
          }
        }
      }
    }
  }
}
.header_right {
  @include dflx_ac;
  column-gap: 20px;
  padding: 0 0 0 16px;
}
.profile_box {
  @include dflx_ac_jcent;
  column-gap: 2px;
  cursor: pointer;
  .profile20 {
    opacity: 0.6;
  }
  .comma_under8 {
    opacity: 0.6;
  }
  &.on {
    .profile20 {
      opacity: 1;
    }
    .comma_under8 {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}
.toggle {
  cursor: pointer;
}
.label {
  @include dflx_ac_jcent;
  color: var(--alpha-bk-to-whbk-87);
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  padding: 5px 6px;
  height: 24px;
  overflow: hidden;
  background-color: var(--alpha-bk-to-whbk-10);
  word-break: keep-all;
  &.unprocessed {
    min-width: 54px;
    color: var(--alpha-bk-to-whbk-40);
    background: var(--alpha-bk-to-whbk-20);
    display: inline-block;
  }
  &.complete {
    min-width: 54px;
    color: var(--alpha-white-w_100);
    background: #129453;
    display: inline-block;
  }
  &.fail {
    min-width: 54px;
    color: var(--alpha-white-w_100);
    background: #f13138;
    display: inline-block;
  }
  &.login {
    background-color: transparent;
    border: 1px solid var(--alpha-bk-to-whbk-10);
    color: var(--alpha-bk-to-whbk-60);
    width: 153px;
  }
  &.detail {
    background: transparent;
    color: var(--link-color);
  }
  &.join {
    border-radius: 50px;
    background: var(--alpha-bk-to-whbk-10);
  }
  &.profile {
    padding: 5px 6px;
  }
  &.processing {
    min-width: 54px;
    color: var(--alpha-white-w_100);
    background: #0e87b2;
    display: inline-block;
  }
  &.waiting {
    min-width: 54px;
    color: var(--alpha-bk-to-whbk-40);
    background: var(--alpha-bk-to-whbk-20);
    display: inline-block;
  }
  &.code {
    background: transparent;
    border: 1px solid var(--alpha-bk-to-whbk-20);
    &.title {
      color: $fc_error;
      border: 1px solid $fc_error;
      padding: 5px 12px;
    }
    &.danger {
      color: $fc_error;
      border: 1px solid $fc_error;
      background: transparent;
    }
    &.doubt {
      color: $fc_warning;
      border: 1px solid $fc_warning;
      background: transparent;
    }
  }
  &.search {
    color: var(--alpha-bk-to-whbk-100);
    white-space: nowrap;
  }
  &.danger {
    color: $fc_error;
    background: rgba(241, 49, 56, 0.2);
    white-space: nowrap;
  }
  &.doubt {
    color: $fc_warning;
    background: rgba(252, 138, 24, 0.2);
    white-space: nowrap;
  }
  &.step {
    @include fs_14_medium;
    color: var(--white-w_100);
    padding: 4px 11px;
    border-radius: 50px;
    background: var(--PRI);
    display: inline-block;
  }
  &.transp {
    @include fs_14_regular;
    background: transparent;
  }
  &.status {
    color: #70a3e0;
  }
  &.pri {
    min-width: 54px;
    color: var(--white-w_100);
    background: var(--PRI);
    display: inline-block;
  }
  &.orange {
    min-width: 54px;
    color: var(--white-w_100);
    background: #fc8a18;
    display: inline-block;
  }
}
.login_txt {
  color: var(--alpha-bk-to-whbk-100);
  font-size: 32px;
  font-weight: 700;
}
.login_sub {
  color: var(--alpha-bk-to-whbk-100);
  font-size: 16px;
  font-weight: 500;
}
.num_txt {
  color: var(--alpha-bk-to-whbk-60);
  font-size: 16px;
  font-weight: 700;
  margin-top: 15px;
}
.relative {
  position: relative;
}
.image_upload {
  @include backFilter;
  position: absolute;
  z-index: 9;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.dim_bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.spin_animation {
  animation: spinAni 1.2s infinite linear;
}
@keyframes spinAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingText {
  0% {
    opacity: 0;
  }
  30%,
  100% {
    opacity: 100;
  }
}
// checkbox, radio
.checkbox_type {
  label {
    position: relative;
    padding-left: 1.625rem;
    cursor: pointer;
    line-height: 16px;
    &:after {
      @include selector_el;
      @include border_radius02;
      top: 1px;
      left: 0px;
      width: 16px;
      height: 16px;
      border: 1px solid var(--white-w_60);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      opacity: 0.6;
    }
  }
  input[type="checkbox"]:checked + label {
    &:after {
      border: 1px solid var(--primary-pri_100);
      background: url(../images/checkbox_checked.svg) center no-repeat;
      opacity: 1;
    }
    color: var(--primary-pri_100);
  }
  input[type="checkbox"]:disabled + label,
  .disabled {
    &:after {
      border: none;
      background: var(--white-w_20);
    }
    color: var(--white-w_20);
  }
  &.part {
    align-self: center;
    color: var(--white-w_100-sec);
    input[type="checkbox"]:checked + label {
      &:after {
        background: url(../images/part_checked.svg) center no-repeat;
        opacity: 1;
      }
      color: var(--white-w_100-sec);
    }
  }
}
.radio_type {
  label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    &:after {
      @include selector_el;
      @include border_radius50;
      top: 2px;
      left: 0;
      width: 0.875rem;
      height: 0.875rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: var(--white-w_40);
    }
  }
  input[type="radio"]:checked + label {
    &:after {
      border: 3px solid var(--primary-pri_100);
      background: $fc_white;
    }
    color: var(--primary-pri_100);
  }
  input[type="radio"]:disabled + label,
  .disabled {
    &:after {
      background: $bg_grey10;
    }
    color: $bg_grey38;
  }
}
// swiper
.absolute {
  position: absolute;
}
// pagination
.btn_pagination {
  @include dflx_ac_jcent;
  @include numberDefault($width: 28px, $height: 28px, $fs: 14px);
  @include border_radius02;
  color: var(--alpha-bk-to-whbk-50);
  font-weight: 500;
  &.selected {
    color: var(--alpha-bk-to-whbk-87);
    background: var(--white-w_16);
  }
}
.paging_wrap {
  width: 100%;
  position: relative;
  .paging {
    position: absolute;
    right: 0;
    bottom: -2px;
  }
}

.datepicker {
  @include fs_14_regular;
  background-image: url(../images/calendar_fff_16.svg) !important;
  background-repeat: no-repeat !important;
  background-position: calc(100% - 6px) center !important;
  background-size: 16px auto;
  &:focus,
  &.on {
    border: 1px solid var(--PRI);
  }
  &.disabled {
    color: var(--alpha-bk-to-whbk-20);
  }
}

// table
.table_box {
  @include fs_14_regular;
  color: var(--alpha-bk-to-whbk-87);
  width: 100%;
  border-collapse: separate;
  tr {
    &.selected,
    &:hover:not(.disabled):not(.disable):not(.row_type2.disabled):not(.hover),
    &:focus,
    &.hover {
      background: var(--alpha-bk-to-whbk-05);
    }
  }
  th {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 48px;
    background: var(--alpha-bk-to-whbk-10);
    padding: 8px 12px;
  }
  th,
  td:not(.disabled),
  td:not(.hover) {
    border-right: 1px solid var(--white-w_12);
    align-content: center;
    &:last-child {
      border-right: none;
    }
  }
  td {
    height: 48px;
    border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
    padding: 8px 12px;
    color: var(--alpha-bk-to-whbk-87);
  }
  td.hover {
    height: 48px;
    border-top: 2px solid transparent !important;
  }
  &.md {
    th {
      height: 45px;
    }
    td {
      height: 45px;
      padding: 4px 12px;
    }
  }
  &.vertical {
    border-top: 1px solid var(--alpha-bk-to-whbk-10);
    tr {
      &:hover,
      &:focus {
        background: transparent !important;
      }
    }
    th {
      width: 120px;
      text-align: left;
      border-right: none;
      border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
    }
  }
  &.sm {
    th {
      height: 40px;
      background: transparent;
      border-top: 1px solid var(--alpha-bk-to-whbk-10);
      border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
    }
    td {
      height: 40px;
      padding: 4px 12px;
    }
  }
}
.table_title {
  @include fs_16_bold;
  color: var(--primary-to-grayscale-to-bk);
}
.fc_annotation60 {
  @include fs_12_regular;
  color: var(--white-w_60);
}
.fc_annotation87 {
  @include fs_12_regular;
  color: var(--white-w_87);
}
.mode_box {
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 4px;
  gap: 12px;
  border-radius: 50px;
  background: var(--wh-12);
}
.btn_box {
  border-top: 1px solid var(--alpha-bk-to-whbk-10);
  margin: 20px 0 0 0;
  padding-top: 20px;
}
.search_line {
  display: flex;
  gap: 64px;
  margin: 0 0 12px 0;
  &:last-child {
    margin-bottom: 0;
  }
}
.search_dl {
  @include dflx_ac;
  width: 100%;
  dt {
    @include fs_14_medium;
    width: 72px;
    padding: 0 12px 0 0;
    color: var(--WH-to-BK-70-to-100);
  }
  dd {
    @include dflx_ac_jbet;
    flex: 1;
    column-gap: 4px;
    .wrput {
      width: 100%;
    }
    .ch_radio:last-child {
      padding: 0;
    }
  }
}
.sub_breadcrumb {
  @include dflx_ac;
  column-gap: 8px;
  flex-wrap: wrap;
}
.breadcrumb_anchor {
  @include fs_14_medium;
  color: var(--alpha-bk-to-whbk-87);
}
.breadcrumb_home {
  min-width: 16px;
}

// join
.form_group {
  width: 100%;
}
.put_group {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  .put_see {
    top: 4px;
    display: flex;
  }
  .put_check {
    position: absolute;
    right: 24px;
    top: 40px;
    &.dflx {
      display: flex;
    }
  }
}
.join_label {
  color: var(--alpha-bk-to-whbk-100);
  font-size: 14px;
  font-weight: 500;
}
.req_put {
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: var(--alpha-bk-to-whbk-87);
  letter-spacing: 0.5px;
  padding: 26px 12px 9px 12px;
  display: block;
  background-color: var(--alpha-bk-to-whbk-20);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  &.join {
    background-color: var(--alpha-white-w_20);
    border: 1px solid var(--input-select-line);
    padding: 9px 16px 9px 16px;
  }
  &.login {
    padding: 9px 16px 9px 16px;
  }
}
.swith_room {
  width: 40px;
  height: 24px;
}
.switch_checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
  display: none !important;
}
.switch_label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 24px;
  border-radius: 32px;
  position: relative;
  transition: 0.2s;
}
.switch_label .switch_button {
  content: "";
  position: absolute;
  // top: 50%;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  transition: 0.2s;
  background: #fff;
}
.swith_room.on .switch_label {
  background: rgba(0, 78, 162, 1);
}
.swith_room.on .switch_label .switch_button {
  left: calc(100% - 4px);
  transform: translateX(-100%);
  background: #fff;
}
.selectbox_options {
  @include backFilter;
  display: none;
  position: absolute;
  z-index: 9;
  top: 30px;
  left: 0;
  right: 0;
  padding: 3px 0;
  background: var(--wh-to-bk-10-to-80-popup-bg);
  border: 1px solid var(--wh-to-bk-10-to-100-popu-line);
  border-radius: 8px;
  &.large {
    top: 50px;
  }
  &.medium {
    top: 40px;
  }
  &.small {
    top: 32px;
  }
  .option {
    @include dflx_ac;
    @include fs_13_regular;
    height: 40px;
    padding: 0 0.5rem 0 0.75rem;
    &.selected {
      background: var(--wh-to-bkwh-5-to-prilnb);
    }
    &:hover,
    &:focus {
      background: var(--wh-to-bkwh-5-to-prilnb);
    }
  }
}

// selectbox
.selectbox,
.selectboxSample {
  @include dflx_ac_jbet;
  @include border_radius04;
  position: relative;
  padding: 0 12px;
  cursor: pointer;
  &.line {
    border: 1px solid var(--alpha-bk-to-whbk-10);
    background: transparent;
    &.disabled {
      border: 1px solid var(--alpha-bk-to-whbk-10);
      background: var(--alpha-bk-to-whbk-10);
    }
  }
  &.fill {
    border: 1px solid var(--input-select-line);
    background: var(--input-select-fill);
    &.disabled {
      border: 1px solid var(--alpha-bk-to-whbk-10);
      background: var(--alpha-bk-to-whbk-10);
    }
  }
  &.on {
    &:not(.dropdown) {
      border: 1px solid var(--PRI);
    }
    .selectbox_text {
      color: var(--white-w_87);
    }
    .selectbox_arrow {
      opacity: 1;
      transform: rotate(180deg);
    }
    .selectbox_options {
      display: block;
    }
    .box_bg {
      display: block;
    }
  }
  .selectbox_arrow {
    opacity: 0.6;
  }
  .selectbox_text {
    @include fs_13_regular;
    overflow: hidden;
    line-height: 1;
    text-overflow: ellipsis;
    color: var(--alpha-bk-to-whbk-87);
  }
  label {
    padding: 2px 0 0;
    cursor: pointer;
  }
  &.disabled {
    background: var(--input-select-fill-disabled);
    .selectbox_text {
      color: var(--white-w_20);
    }
  }
  &.sign {
    border-radius: 8px;
    background-color: var(--alpha-bk-to-whbk-20);
  }
}
// 프로필
.hd_profile {
  position: relative;
  .member_popover {
    display: none;
  }
  &.profile_open {
    .member_popover,
    .member_toggle {
      display: block;
    }
    .btn_profile .comma_under8 {
      opacity: 1;
      transform: rotate(180deg);
    }
    .profile20 {
      opacity: 1;
    }
  }
}
.member_popover {
  width: 182px;
  padding: 20px 12px 12px 12px;
  border-radius: 20px;
  border: 1px solid var(--alpha-bk-to-whbk-10);
  background: var(--alpha-bk-to-whbk-10);
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  position: absolute;
  right: -12px;
  top: 30px;
}
// tab
.search_tab_list {
  @include dflx_ac;
  border-radius: 8px;
  background-color: #f0f1f5;
}
.search_tab_category {
  @include dflx_ac_jcent;
  @include fs_16_medium;
  border-radius: 8px;
  column-gap: 4px;
  height: 40px;
  padding: 0 16px;
  white-space: nowrap;
  color: var(--alpha-bk-to-whbk-100);
  &.text {
    padding: 0 20px;
    border-radius: 0;
    position: relative;
    font-weight: 400;
    width: 100%;
    &.on {
      color: #004ea2;
      font-weight: 700;
      border-bottom: 1px solid var(--PRI);
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
      }
    }
  }
  &.button {
    position: relative;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    color: var(--alpha-bk-to-whbk-100);
    &.on {
      color: #fff;
      font-size: 16px;
      font-weight: 700;
      background-color: var(--PRI);
    }
  }
}
.sub_tab_list {
  @include dflx_ac;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-20);
  margin-bottom: -1px;
}
.tab_indicator {
  position: relative;
}
.user_name {
  color: var(--alpha-bk-to-whbk-100);
  font-size: 20px;
  font-weight: 500;
}
.admin_txt {
  color: var(--alpha-bk-to-whbk-100);
  font-size: 14px;
  font-weight: 500;
}
.label_txt {
  color: var(--alpha-bk-to-whbk-60);
  font-size: 12px;
  font-weight: 400;
}
.orange_txt {
  color: #fc8a18;
  font-size: 14px;
  font-weight: 400;
}
.red_txt {
  color: #f13138;
  font-size: 14px;
  font-weight: 400;
}
.ft_gray {
  color: var(--alpha-bk-to-whbk-50) !important;
}
.dim_modal_bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: $bg_black40;
  &.on {
    z-index: 250;
    opacity: 1;
  }
}

// modal
.modal_box {
  @include dflx_ac_jcent;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  //top: 40px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  &.on {
    z-index: 300;
    opacity: 1;
  }
  &.overflow_y {
    align-items: flex-start;
    overflow-y: auto;
  }
}
.modal_contents {
  border-radius: 20px;
  width: 524px;
  width: 100%;
  height: auto;
  margin: 30px auto;
  border: 1px solid var(--wh-to-bk-10-to-100-popu-line);
  background-color: var(--wh-to-bk-10-to-80-popup-bg);
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  overflow: hidden;
  &.mini {
    width: 360px;
  }
  &.large {
    max-width: 1300px;
  }
  &.medium {
    max-width: 1068px;
  }
}
.modal_top {
  @include dflx_ac_jbet;
  padding: 20px 16px 0 20px;
  line-height: 1.3;
  &.border {
    align-items: flex-start;
    min-height: 64px;
    border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
  }
}
.modal_title {
  @include fs_20_bold;
  color: var(--alpha-bk-to-whbk-87);
}
.analyze_box {
  padding: 0 20px;
}
.keyword_selection {
  @include dflx_ac_jcent;
  position: relative;
  margin-top: 20px;
  padding: 20px;
  &:before {
    @include selector_el;
    top: 0;
    width: 100%;
    height: 1px;
    background: var(--alpha-bk-to-whbk-10);
  }
}
.modal_dl {
  @include dflx_ac;
  width: 100%;
  &.start {
    align-items: flex-start;
  }
  dt {
    @include fs_14_regular;
    width: 89px;
    padding: 0 12px 0 0;
    color: var(--alpha-bk-to-whbk-100);
    &.referer {
      padding: 0 20px 0 0;
      width: 64px;
    }
  }
  dd {
    @include dflx_ac_jbet;
    flex: 1;
    column-gap: 8px;
    .wrput {
      //width: 100%;
      flex: 1;
    }
    .ch_radio:last-child {
      padding: 0;
    }
    &.gap_20 {
      gap: 20px !important;
    }
  }
}
.api_line {
  @include dflx_ac;
  p {
    @include fs_14_regular;
    padding: 0 16px 0 0;
    color: var(--WH-to-BK-70-to-100);
  }
  input {
    @include dflx_ac_jbet;
    flex: 1;
    column-gap: 4px;
    .wrput {
      width: 100%;
    }
  }
}
.api_notice {
  color: var(--alpha-bk-to-whbk-87);
  font-size: 14px;
  font-weight: 400;
}
.modal_body {
  width: 100%;
  padding: 20px;
}
.modal_footer {
  @include dflx_ac_jcent;
  position: relative;
  width: 100%;
  padding: 20px;
  &:before {
    @include selector_el;
    top: 0;
    width: 100%;
    height: 1px;
    background: var(--alpha-bk-to-whbk-10);
  }
}
