@charset "UTF-8";
/*가이드에서만 쓰이는 레이아웃 스타일*/
.main_contents {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_contents.login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url("../images/login_dark.png") no-repeat;
  background-size: cover;
}
.main_contents.main {
  border-radius: 32px 0px 0px 0px;
  padding: 48px 0 0 60px;
  background: rgba(15, 20, 26, 0.87);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  min-height: 100%;
}

.main {
  border-radius: 32px 0px 0px 0px;
  padding: 48px 0 0 60px;
  background: rgba(15, 20, 26, 0.87);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  min-height: 100%;
}

.login_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 794px;
  height: 100%;
  padding: 48px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--alpha-wh-to-bkwh-60);
  box-shadow: -12px 0px 40px 0px rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  z-index: 10;
}

.login_logo {
  position: absolute;
  height: 120px;
  bottom: 42px;
  left: 42px;
}

.arrow.left {
  transform: rotate(180deg);
}
.arrow.up {
  transform: rotate(270deg);
}
.arrow.down {
  transform: rotate(90deg);
}

.login_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_box.login {
  z-index: 0;
  width: 44.563rem;
  padding: 3rem;
  border-radius: 0.125rem;
  border: 0.063rem solid rgba(255, 255, 255, 0.21);
  background: var(--bg_01_80);
  -webkit-backdrop-filter: blur(3.75rem);
  backdrop-filter: blur(3.75rem);
}

.light_box {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 8px;
}

.record_radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.record_radio .word {
  color: rgba(255, 255, 255, 0.87);
}
.record_radio.on .radio {
  background-color: #fff;
  border: 0.25rem solid #27d4ff;
}
.record_radio.on .word {
  color: rgba(255, 255, 255, 0.87);
}
.record_radio .word {
  font-size: 11px;
  font-weight: 300;
}

.title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-wrap: wrap;
  min-height: 32px;
  margin: 0 0 16px 0;
  color: var(--alpha-bk-to-whbk-87);
}
.title_box.list {
  height: 64px;
  margin: 0;
}

.logo_login {
  width: 12.5rem;
}

/* html data-theme */
html[data-theme="light"] .main_contents {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

/* html data-theme End */
@keyframes in-header {
  from {
    opacity: 0;
    top: -70px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.header_bg {
  background-color: #f0f0f2;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 1rem 1rem 0px;
  z-index: 100;
}
.header_bg.trans {
  background-color: transparent;
}
.header_bg.animate {
  animation: in-header 1s ease-in-out !important;
}

header {
  width: 100%;
  height: 48px;
  padding: 0px 20px 0px 18px;
}

.header_in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.header_logo {
  cursor: pointer;
}
.header_logo a {
  display: block;
}

.header_left {
  display: flex;
  align-items: center;
  padding: 0 1rem 0.25rem 0;
}
.header_left .header_title {
  margin: 5px 0px 0px 15px;
}

.header_right {
  display: flex;
  align-items: center;
  padding: 0 0 0 1rem;
}
.header_right .user_zone {
  margin: 0 0 0 1rem;
}

/*Main*/
.header {
  width: 100%;
  height: 56px;
  height: 3.5rem;
  padding: 8px 20px;
  padding: 0.5rem 1.25rem;
  background: transparent;
  border: none;
  border-radius: 0px;
}

footer {
  width: 100%;
  height: 8.375rem;
  background-color: #5c5e66;
  padding: 2rem 2.25rem;
}

.point {
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background: #c8c9cc;
  border-radius: 100%;
}
.point.on {
  background: #00b295;
}

.timer {
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: 400;
}
.timer span {
  opacity: 0.4;
}
.timer.disabled {
  color: #f13138;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  background: var(--bg_nav);
  color: var(--white-w_87);
}

.bg_back {
  width: 100%;
  height: 100vh;
  background: url(../images/login_dark.png) no-repeat;
  background-size: cover;
}
.bg_back.transparent {
  background: transparent;
}

.rectangle {
  width: 100%;
  min-height: 100vh;
  padding: 48px 0 0 60px;
  background: rgba(15, 20, 26, 0.87);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.rectangle.on {
  padding-left: 244px;
}
.rectangle.transparent {
  background: transparent;
}

.header_main {
  padding: 0px 20px 0px 18px;
  background-color: transparent;
}
.header_main.border {
  border-bottom: 1px solid var(--Neutral-Gray-03);
}
.header_main .header_in::before {
  content: none;
}

.btn_menu {
  width: 24px;
  height: 30px;
}

.aside_zone {
  position: fixed;
  left: 0;
  top: 48px;
  width: 60px;
  height: calc(100% - 49px);
  padding: 24px 8px 8px 8px;
  z-index: 190;
}
.aside_zone.on {
  width: 244px;
}
.aside_zone.on .side_menu_line .menu_word {
  display: block;
}
.aside_zone.on .side_menu_line .btn_side_arrow {
  display: block;
}
.aside_zone.on .side_menu_group:hover .side_menu_hover {
  display: none;
}

.contents_package {
  width: 100%;
  min-height: calc(100vh - 48px);
  border-radius: 32px 0px 0px 0px;
  background: var(--bg_body);
  padding: 32px;
}
.contents_package.square {
  border-radius: 0;
}

.title_zone {
  display: grid;
  gap: 10px;
  margin: 0 0 32px;
}

.contents_title {
  font-size: 24px;
  font-weight: 700;
  color: var(--alpha-bk-to-whbk-87);
  line-height: 1.3;
}

.aside_ul {
  width: 100%;
  display: grid;
  gap: 4px;
}

.side_menu_group {
  width: 100%;
  position: relative;
}
.side_menu_group:hover .side_menu_line {
  background: var(--wh-to-bkwh-5-to-prilnb);
}
.side_menu_group:hover .side_menu_line .menu_icon img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(1837%)
    hue-rotate(197deg) brightness(96%) contrast(101%);
}
.side_menu_group:hover .side_menu_line .menu_word {
  color: var(--PRI);
}
.side_menu_group:hover .side_menu_hover {
  display: block;
}
.side_menu_group .side_menu_hover {
  position: absolute;
  top: 0;
  left: 80%;
  padding-left: 20%;
  display: none;
}

.side_menu_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 8px;
  padding: 0;
  gap: 8px;
}
.side_menu_line.on {
  background: var(--wh-to-bkwh-5-to-prilnb);
}
.side_menu_line.on .menu_icon img {
  filter: brightness(0) saturate(100%) invert(19%) sepia(94%) saturate(1837%)
    hue-rotate(197deg) brightness(96%) contrast(101%);
}
.side_menu_line.on .menu_word {
  color: var(--PRI);
}

.hover_bg {
  width: 200px;
  padding: 4px 0;
  margin-left: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--alpha-bk-to-whbk-10);
  background: var(--alpha-bk-to-whbk-10);
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}

.hover_link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  min-height: 36px;
  padding: 0 20px;
  color: var(--alpha-bk-to-whbk-80);
  line-height: 1.5;
}
.hover_link.more {
  min-height: 32px;
  padding: 0 12px 0 28px;
  font-size: 13px;
}

.side_link {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 1;
}

.menu_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 40px;
}
.menu_icon + .menu_word {
  flex: 1;
  display: none;
}

.menu_word {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  color: var(--alpha-bk-to-whbk-80);
}

.btn_side_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px 0 12px;
  height: 32px;
  display: none;
}
.btn_side_arrow .img_arrow {
  width: 16px;
}
.btn_side_arrow.on .img_arrow {
  transform: rotate(180deg);
}

.side_inner {
  position: relative;
  padding: 0 0 0 34px;
  margin: 4px 0 0;
  display: grid;
  gap: 4px;
  display: none;
}
.side_inner::before {
  content: "";
  position: absolute;
  left: 22px;
  top: 0;
  width: 1px;
  height: 100%;
  background: var(--white-w_20);
}
.side_inner.on {
  display: block;
}

.inner_link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  min-height: 40px;
  padding: 4px 20px;
  background: transparent;
  border-radius: 8px;
  color: var(--alpha-bk-to-whbk-80);
  line-height: 1.3;
}
.inner_link:hover,
.inner_link.on {
  background: var(--wh-to-bkwh-5-to-prilnb);
  color: var(--PRI);
}

button.bell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;
}
button.bell .badge {
  position: absolute;
  right: 0;
  top: 0;
}

button.user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.badge {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #f13138;
}

.wrap02 {
  width: 100%;
  min-height: 100vh;
  background: var(--bg_nav2);
  color: var(--white-w_87);
}

.bg_nav {
  background: var(--bg_nav);
}

.word_title {
  color: var(--alpha-bk-to-whbk-87);
  line-height: 1.3;
}

.table_box thead th {
  font-weight: 500;
  border-right: none;
}
.table_box tbody td:not(.disabled),
.table_box tbody td:not(.hover) {
  line-height: 1.2;
  border-right: none;
}

.round_box.sample2 {
  background: #17181a;
}
.round_box.sample2 .selector {
  background-color: #17181a;
}

.contents_grid {
  width: 100%;
  display: grid;
  gap: 20px;
}

.round_cont {
  width: 100%;
  display: grid;
  row-gap: 12px;
}

.statistics_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex: 1;
  height: 64px;
  padding: 0 20px;
  border-radius: 8px;
  background: var(--bg_body_50, rgba(3, 9, 20, 0.5));
}

.st_result {
  font-size: 16px;
  font-weight: 500;
  color: var(--alpha-bk-to-whbk-100);
}

.red_01 {
  color: #f13138;
}
.red_01 p,
.red_01 span {
  color: #f13138;
}

.grade_04 {
  color: #fc8a18;
}
.grade_04 p,
.grade_04 span {
  color: #fc8a18;
}

.state_line {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 21px;
}

.state_result {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 56px;
}

.img_dark {
  display: block;
}

.img_light {
  display: none;
}

.grid_column1_16 {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}

.danger_label {
  display: flex;
  align-items: center;
  justify-content: center;
}
.danger_label .disable {
  color: var(--alpha-bk-to-whbk-40);
}

.chart_line_dl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 8px;
  margin: 8px 0 0;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
  color: var(--alpha-bk-to-whbk-87);
}
.chart_line_dl dt {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  padding: 0 0 0 12px;
  line-height: 1.3;
}
.chart_line_dl dt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  display: inline-block;
  width: 4px;
  height: 16px;
  border-radius: 5px;
  background: #8f8f90;
}
.chart_line_dl dt.red::before {
  background: #e25367;
}
.chart_line_dl dt.orange::before {
  background: #fe9342;
}
.chart_line_dl dt.yellow::before {
  background: #ffc457;
}
.chart_line_dl dt.green::before {
  background: #45b8b7;
}
.chart_line_dl dt.blue::before {
  background: #319ae4;
}
.chart_line_dl dt.viollet::before {
  background: #8d61f9;
}
.chart_line_dl dd {
  font-size: 14px;
  font-weight: 700;
  margin-left: auto;
}

.content_in {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background: var(--WH-to-BK-5);
}

.link_tag {
  display: flex;
  align-items: center;
}
.link_tag a {
  font-size: 16px;
  font-weight: 400;
  color: var(--87-to-100-txt);
}

.detail_map {
  width: 610px;
}

.detail_info {
  display: flex;
}

.info_text {
  width: 100%;
}

.info_text_top {
  padding: 0 0 8px;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
}

.info_text_cont {
  display: grid;
  gap: 12px;
  padding: 12px 0 0;
}

.info_text_dl {
  display: flex;
  gap: 20px;
  padding-left: 12px;
}
.info_text_dl dt {
  font-size: 14px;
  font-weight: 500;
  width: 80px;
}
.info_text_dl dd {
  font-size: 14px;
  font-weight: 400;
  flex: 1;
  color: var(--alpha-bk-to-whbk-80);
}

.bord_line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 12px;
  margin: 0 0 12px;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-20);
}

.links_conts {
  width: 100%;
  display: grid;
  gap: 4px;
}

.links_line {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  border-radius: 8px;
}
.links_line.danger {
  background: rgba(241, 49, 56, 0.12);
}
.links_line.doubt {
  background: rgba(252, 138, 27, 0.12);
}
.links_line.surface {
  background: var(--WH-to-BK-5);
  position: relative;
}
.links_line.surface::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: var(--Neutral-Gray-05);
  border-radius: 8px 0 0 8px;
}
.links_line.surface.sf_danger::before {
  background: #e52e34;
}
.links_line.surface.sf_doubt::before {
  background: #fc8a18;
}
.links_line.surface .links_block:first-child {
  padding-left: 24px;
}
.links_line.network {
  min-height: 68px;
}

.links_block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  color: var(--alpha-bk-to-whbk-87);
}
.links_block.tal {
  justify-content: flex-start;
}
.links_block.tags {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.links_block a {
  font-size: 14px;
  font-weight: 400;
  color: var(--alpha-bk-to-whbk-87);
}

.flow_map {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.surface_ul {
  display: flex;
  align-items: center;
  width: 100%;
}
.surface_ul li {
  font-size: 14px;
  font-weight: 500;
  padding: 0 12px;
  color: var(--alpha-bk-to-whbk-60);
}

.search_list {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  width: 100%;
  padding: 0 20px 20px 20px;
  background: var(--WH-to-BK-5-to-100);
  box-shadow: 0px 4px 16px 0px rgba(175, 176, 178, 0.05);
  border-radius: 16px;
}
.search_list.none {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}

.file_contents {
  display: grid;
  gap: 28px;
  width: 100%;
  padding: 0 0 20px;
}

.file_word {
  font-size: 14px;
  font-weight: 700;
  color: var(--alpha-bk-to-whbk-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action_copy {
  cursor: pointer;
}

.flow_body {
  width: 100%;
  padding: 76px 28px;
}

.flow_content {
  display: flex;
  align-items: center;
  width: 100%;
}

.flow_line_conts {
  display: flex;
  align-items: center;
  width: 540px;
}

.flow_cont {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;
  min-height: 80px;
  overflow: hidden;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--alpha-bk-to-whbk-10);
  z-index: 1;
}
.flow_cont.sheet {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  min-height: 260px;
  flex: 1;
}
.flow_cont.source {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 412px;
  overflow-y: auto;
  color: var(--87-to-100-txt);
  word-break: break-word;
  line-height: 1.3;
}
.flow_cont.role {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
  overflow-y: auto;
  background: var(--input-select-fill);
  border: 1px solid var(--input-select-line);
  color: var(--alpha-bk-to-whbk-87);
  word-break: break-word;
  line-height: 1.3;
}
.flow_cont.role p {
  font-size: 14px;
  font-weight: 400;
  color: var(--alpha-bk-to-whbk-87);
}
.flow_cont p {
  font-size: 14px;
  font-weight: 500;
  color: var(--87-to-100-txt);
  word-break: break-word;
  line-height: 1.3;
}
.flow_cont .btn_flow {
  position: absolute;
  top: 8px;
  right: 8px;
}

.flow_line_steps {
  position: relative;
  padding: 0 0 0 52px;
  display: grid;
  gap: 10px;
  flex: 1;
}
.flow_line_steps::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 140px;
  height: 100%;
  background: url(../images/flow_line01.svg) left center no-repeat;
  background-size: 100% 100%;
  z-index: 0;
}

.flow_step {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}

.flow_dl {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  min-height: 32px;
  padding: 8px 8px 7px;
  border-radius: 8px;
  background: var(--alpha-wh-to-bkwh-20);
  color: var(--87-to-100-txt);
}
.flow_dl dt {
  width: 40px;
}
.flow_dl dd {
  flex: 1;
}

.tooltip_group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
.tooltip_group:hover .tooltip {
  display: flex;
}
.tooltip_group .tooltip {
  position: absolute;
  bottom: calc(100% + 12px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: none;
}

.tooltip {
  width: 280px;
}

.tooltip_in {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 16px 24px;
  gap: 20px;
  background: var(--PRI);
  border-radius: 8px;
  border: 1px solid var(--wh-to-bk-10-to-100-popu-line);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
}
.tooltip_in::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 15px;
  background: url(../images/tooltip_tri_14.svg) no-repeat center top;
  z-index: 2;
}

.tip_top h3 {
  font-size: 16px;
  font-weight: 700;
  color: var(--alpha-white-w_100, #fff);
}

.tip_text {
  display: grid;
  gap: 8px;
}

.tip_dl {
  display: flex;
  align-items: center;
  gap: 8px;
}
.tip_dl dt,
.tip_dl dd {
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  color: var(--alpha-white-w_100, #fff);
}

.screen_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #808080;
  border-radius: 10px;
  overflow: hidden;
}

.img_screen_shot {
  width: 100%;
}

.modal_unit {
  font-size: 14px;
  font-weight: 400;
  color: var(--alpha-bk-to-whbk-100);
}
.setting_board {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 32px 0px;
  border-top: 1px solid var(--alpha-bk-to-whbk-10);
}

.setting_group {
  display: grid;
  gap: 24px;
  padding: 20px 0 0;
}
