/*가이드에서만 쓰이는 레이아웃 스타일*/

@charset "utf-8";
@import "_mixin.scss";

.main_contents {
  width: 100%;
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  &.login {
    @include dflx_ac_jend;
    background: url("../images/login_dark.png") no-repeat;
    background-size: cover;
  }
  &.main {
    border-radius: 32px 0px 0px 0px;
    padding: 48px 0 0 60px;
    background: rgba(15, 20, 26, 0.87);
    backdrop-filter: blur(40px);
    min-height: 100%;
  }
}
.main {
  border-radius: 32px 0px 0px 0px;
  padding: 48px 0 0 60px;
  background: rgba(15, 20, 26, 0.87);
  backdrop-filter: blur(40px);
  min-height: 100%;
}
.login_wrap {
  @include dflx_ac_jcent;
  position: relative;
  width: 794px;
  height: 100%;
  padding: 48px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--alpha-wh-to-bkwh-60);
  box-shadow: -12px 0px 40px 0px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  z-index: 10;
}
.login_logo {
  position: absolute;
  height: 120px;
  bottom: 42px;
  left: 42px;
}
.arrow {
  &.left {
    transform: rotate(180deg);
  }
  &.up {
    transform: rotate(270deg);
  }
  &.down {
    transform: rotate(90deg);
  }
}
.login_box {
  @include dflx_ac_jcent;
  // top: 33%;
  // left: 30%;
  &.login {
    z-index: 0;
    width: 44.563rem;
    padding: 3rem;
    border-radius: 0.125rem;
    border: 0.063rem solid rgba(255, 255, 255, 0.21);
    background: var(--bg_01_80);
    backdrop-filter: blur(3.75rem);
  }
}
.light_box {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 8px;
}
// check box
.record_radio {
  @include dflx_ac;
  cursor: pointer;
  .word {
    color: rgba(255, 255, 255, 0.87);
  }
  &.on {
    .radio {
      background-color: #fff;
      border: 0.25rem solid #27d4ff;
    }
    .word {
      color: rgba(255, 255, 255, 0.87);
    }
  }
  .word {
    @include fs_11_light;
  }
}
.title_box {
  @include dflx_ac_jbet;
  gap: 8px;
  flex-wrap: wrap;
  min-height: 32px;
  margin: 0 0 16px 0;
  color: var(--alpha-bk-to-whbk-87);
  &.list {
    height: 64px;
    margin: 0;
  }
}
// logo
.logo_login {
  width: 12.5rem;
}

/* html data-theme */
html[data-theme="light"] {
  .main_contents {
    width: 100%;
    height: 100%;
    background-size: cover !important;
  }
}
/* html data-theme End */

@keyframes in-header {
  from {
    opacity: 0;
    top: -70px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
.header_bg {
  background-color: #f0f0f2;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 1rem 1rem 0px;
  z-index: 100;
  &.trans {
    background-color: transparent;
  }
  &.animate {
    animation: in-header 1s ease-in-out !important;
  }
}
header {
  width: 100%;
  height: 48px;
  padding: 0px 20px 0px 18px;
}
.header_in {
  @include dflx_ac_jbet;
  width: 100%;
  height: 100%;
}
.header_logo {
  cursor: pointer;
  a {
    display: block;
  }
}
.header_left {
  @include dflx_ac;
  padding: 0 1rem 0.25rem 0;
  .header_title {
    margin: 5px 0px 0px 15px;
  }
}
.header_right {
  @include dflx_ac;
  padding: 0 0 0 1rem;
  .user_zone {
    margin: 0 0 0 1rem;
  }
}

/*Main*/
.header {
  width: 100%;
  height: 56px;
  height: 3.5rem;
  padding: 8px 20px;
  padding: 0.5rem 1.25rem;
  background: transparent;
  border: none;
  border-radius: 0px;
}

footer {
  width: 100%;
  height: 8.375rem;
  background-color: #5c5e66;
  padding: 2rem 2.25rem;
}
.point {
  display: inline-block;
  width: 0.375rem;
  height: 0.375rem;
  background: #c8c9cc;
  border-radius: 100%;
  &.on {
    background: #00b295;
  }
}
.timer {
  @include dflx_ac;
  @include fs_11_regular;
  span {
    opacity: 0.4;
  }
  &.disabled {
    color: #f13138;
  }
}

// termi005
.wrap {
  width: 100%;
  min-height: 100vh;
  background: var(--bg_nav);
  color: var(--white-w_87);
}
.bg_back {
  width: 100%;
  height: 100vh;
  background: url(../images/login_dark.png) no-repeat;
  background-size: cover;
  &.transparent {
    background: transparent;
  }
}
.rectangle {
  width: 100%;
  min-height: 100vh;
  padding: 48px 0 0 60px;
  background: rgba(15, 20, 26, 0.87);
  backdrop-filter: blur(40px);
  &.on {
    padding-left: 244px;
  }
  &.transparent {
    background: transparent;
  }
}
.header_main {
  padding: 0px 20px 0px 18px;
  background-color: transparent;
  &.border {
    border-bottom: 1px solid var(--Neutral-Gray-03);
  }
  .header_in {
    &::before {
      content: none;
    }
  }
}
.btn_menu {
  width: 24px;
  height: 30px;
}
.aside_zone {
  position: fixed;
  left: 0;
  top: 48px;
  width: 60px;
  height: calc(100% - 49px);
  padding: 24px 8px 8px 8px;
  z-index: 190;
  &.on {
    width: 244px;
    .side_menu_line {
      .menu_word {
        display: block;
      }
      .btn_side_arrow {
        display: block;
      }
    }
    .side_menu_group {
      &:hover {
        .side_menu_hover {
          display: none;
        }
      }
    }
  }
}
.contents_package {
  width: 100%;
  min-height: calc(100vh - 48px);
  border-radius: 32px 0px 0px 0px;
  background: var(--bg_body);
  padding: 32px;
  &.square {
    border-radius: 0;
  }
}
.title_zone {
  display: grid;
  gap: 10px;
  margin: 0 0 32px;
}
.contents_title {
  @include fs_24_bold;
  color: var(--alpha-bk-to-whbk-87);
  line-height: 1.3;
}
.aside_ul {
  width: 100%;
  display: grid;
  gap: 4px;
}
.side_menu_group {
  width: 100%;
  position: relative;
  &:hover {
    .side_menu_line {
      background: var(--wh-to-bkwh-5-to-prilnb);
      .menu_icon {
        img {
          @include filter_blue;
        }
      }
      .menu_word {
        color: var(--PRI);
      }
    }
    .side_menu_hover {
      display: block;
    }
  }
  .side_menu_hover {
    position: absolute;
    top: 0;
    left: 80%;
    padding-left: 20%;
    display: none;
  }
}
.side_menu_line {
  @include dflx_ac_jbet;
  width: 100%;
  height: 40px;
  background: transparent;
  border-radius: 8px;
  padding: 0;
  gap: 8px;
  &.on {
    background: var(--wh-to-bkwh-5-to-prilnb);
    .menu_icon {
      img {
        @include filter_blue;
      }
    }
    .menu_word {
      color: var(--PRI);
    }
  }
}
.hover_bg {
  width: 200px;
  padding: 4px 0;
  margin-left: 12px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--alpha-bk-to-whbk-10);
  background: var(--alpha-bk-to-whbk-10);
  box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
}
.hover_link {
  @include dflx_ac;
  @include fs_14_medium;
  width: 100%;
  min-height: 36px;
  padding: 0 20px;
  color: var(--alpha-bk-to-whbk-80);
  line-height: 1.5;
  &.more {
    min-height: 32px;
    padding: 0 12px 0 28px;
    font-size: 13px;
  }
}
.side_link {
  @include dflx_ac;
  height: 100%;
  flex: 1;
}
.menu_icon {
  @include dflx_ac_jcent;
  width: 44px;
  height: 40px;
  + .menu_word {
    flex: 1;
    display: none;
  }
}
.menu_word {
  @include fs_14_medium;
  display: inline-block;
  color: var(--alpha-bk-to-whbk-80);
}
.btn_side_arrow {
  @include dflx_ac_jcent;
  padding: 0 12px 0 12px;
  height: 32px;
  display: none;
  .img_arrow {
    width: 16px;
  }
  &.on {
    .img_arrow {
      transform: rotate(180deg);
    }
  }
}
.side_inner {
  position: relative;
  padding: 0 0 0 34px;
  margin: 4px 0 0;
  display: grid;
  gap: 4px;
  display: none;
  &::before {
    content: "";
    position: absolute;
    left: 22px;
    top: 0;
    width: 1px;
    height: 100%;
    background: var(--white-w_20);
  }
  &.on {
    display: block;
  }
}
.inner_link {
  @include dflx_ac;
  @include fs_14_medium;
  min-height: 40px;
  padding: 4px 20px;
  background: transparent;
  border-radius: 8px;
  color: var(--alpha-bk-to-whbk-80);
  line-height: 1.3;
  &:hover,
  &.on {
    background: var(--wh-to-bkwh-5-to-prilnb);
    color: var(--PRI);
  }
}
button.bell {
  @include dflx_ac_jcent;
  width: 20px;
  height: 20px;
  position: relative;
  .badge {
    position: absolute;
    right: 0;
    top: 0;
  }
}
button.user {
  @include dflx_ac_jcent;
  width: 20px;
  height: 20px;
}
.badge {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #f13138;
}
.wrap02 {
  width: 100%;
  min-height: 100vh;
  background: var(--bg_nav2);
  color: var(--white-w_87);
}
.bg_nav {
  background: var(--bg_nav);
}
.word_title {
  color: var(--alpha-bk-to-whbk-87);
  line-height: 1.3;
}
.table_box {
  thead {
    th {
      font-weight: 500;
      border-right: none;
    }
  }
  tbody {
    td:not(.disabled),
    td:not(.hover) {
      line-height: 1.2;
      border-right: none;
    }
  }
}
.round_box {
  &.sample2 {
    background: #17181a;
    .selector {
      background-color: #17181a;
    }
  }
}
.contents_grid {
  width: 100%;
  display: grid;
  gap: 20px;
}
.round_cont {
  width: 100%;
  display: grid;
  row-gap: 12px;
}
.statistics_box {
  @include dflx_ac_jbet;
  gap: 10px;
  flex: 1;
  height: 64px;
  padding: 0 20px;
  border-radius: 8px;
  background: var(--bg_body_50, rgba(3, 9, 20, 0.5));
}
.st_result {
  @include fs_16_medium;
  color: var(--alpha-bk-to-whbk-100);
}
.red_01 {
  color: #f13138;
  p,
  span {
    color: #f13138;
  }
}
.grade_04 {
  color: #fc8a18;
  p,
  span {
    color: #fc8a18;
  }
}
.state_line {
  @include dflx_ac;
  gap: 8px;
  height: 21px;
}
.state_result {
  @include fs_16_medium;
  @include dflx_ac_jend;
  min-width: 56px;
}
.img_dark {
  display: block;
}
.img_light {
  display: none;
}
.grid_column1_16 {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}
.danger_label {
  @include dflx_ac_jcent;
  .disable {
    color: var(--alpha-bk-to-whbk-40);
  }
}
.chart_line_dl {
  @include dflx_ac;
  flex-wrap: wrap;
  padding: 0 0 8px;
  margin: 8px 0 0;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
  color: var(--alpha-bk-to-whbk-87);
  dt {
    @include fs_14_medium;
    position: relative;
    padding: 0 0 0 12px;
    line-height: 1.3;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -8px;
      display: inline-block;
      width: 4px;
      height: 16px;
      border-radius: 5px;
      background: #8f8f90;
    }
    &.red {
      &::before {
        background: #e25367;
      }
    }
    &.orange {
      &::before {
        background: #fe9342;
      }
    }
    &.yellow {
      &::before {
        background: #ffc457;
      }
    }
    &.green {
      &::before {
        background: #45b8b7;
      }
    }
    &.blue {
      &::before {
        background: #319ae4;
      }
    }
    &.viollet {
      &::before {
        background: #8d61f9;
      }
    }
  }
  dd {
    @include fs_14_bold;
    margin-left: auto;
  }
}
.content_in {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  background: var(--WH-to-BK-5);
}
.link_tag {
  @include dflx_ac;
  a {
    @include fs_16_regular;
    color: var(--87-to-100-txt);
  }
}
.detail_map {
  width: 610px;
}
.detail_info {
  display: flex;
}
.info_text {
  width: 100%;
}
.info_text_top {
  padding: 0 0 8px;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-10);
}
.info_text_cont {
  display: grid;
  gap: 12px;
  padding: 12px 0 0;
}
.info_text_dl {
  @include dflx;
  gap: 20px;
  padding-left: 12px;
  dt {
    @include fs_14_medium;
    width: 80px;
  }
  dd {
    @include fs_14_regular;
    flex: 1;
    color: var(--alpha-bk-to-whbk-80);
  }
}
.bord_line {
  @include dflx_ac_jbet;
  padding: 0 0 12px;
  margin: 0 0 12px;
  border-bottom: 1px solid var(--alpha-bk-to-whbk-20);
}
.links_conts {
  width: 100%;
  display: grid;
  gap: 4px;
}
.links_line {
  @include dflx_ac;
  width: 100%;
  min-height: 40px;
  border-radius: 8px;
  &.danger {
    background: rgba(241, 49, 56, 0.12);
  }
  &.doubt {
    background: rgba(252, 138, 27, 0.12);
  }
  &.surface {
    background: var(--WH-to-BK-5);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background: var(--Neutral-Gray-05);
      border-radius: 8px 0 0 8px;
    }
    &.sf_danger {
      &::before {
        background: #e52e34;
      }
    }
    &.sf_doubt {
      &::before {
        background: $fc_warning;
      }
    }
    .links_block {
      &:first-child {
        padding-left: 24px;
      }
    }
  }
  &.network {
    min-height: 68px;
  }
}
.links_block {
  @include dflx_ac_jcent;
  @include fs_14_regular;
  flex-wrap: wrap;
  gap: 4px;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  color: var(--alpha-bk-to-whbk-87);
  &.tal {
    justify-content: flex-start;
  }
  &.tags {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  a {
    @include fs_14_regular;
    color: var(--alpha-bk-to-whbk-87);
  }
}
.flow_map {
  @include dflx_ac_jcent;
  min-height: 80px;
}
.surface_ul {
  @include dflx_ac;
  width: 100%;
  li {
    @include fs_14_medium;
    padding: 0 12px;
    color: var(--alpha-bk-to-whbk-60);
  }
}
.search_list {
  @include backFilter;
  width: 100%;
  padding: 0 20px 20px 20px;
  background: var(--WH-to-BK-5-to-100);
  box-shadow: 0px 4px 16px 0px rgba(175, 176, 178, 0.05);
  border-radius: 16px;
  &.none {
    @include backFilter_none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }
}
.file_contents {
  display: grid;
  gap: 28px;
  width: 100%;
  padding: 0 0 20px;
}
.file_word {
  @include fs_14_bold;
  color: var(--alpha-bk-to-whbk-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.action_copy {
  cursor: pointer;
}
.flow_body {
  width: 100%;
  padding: 76px 28px;
}
.flow_content {
  @include dflx_ac;
  width: 100%;
}
.flow_line_conts {
  @include dflx_ac;
  width: 540px;
}
.flow_cont {
  @include dflx_ac;
  position: relative;
  width: 200px;
  min-height: 80px;
  overflow: hidden;
  padding: 8px 12px;
  border-radius: 8px;
  background: var(--alpha-bk-to-whbk-10);
  z-index: 1;
  &.sheet {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    min-height: 260px;
    flex: 1;
  }
  &.source {
    @include fs_14_medium;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 412px;
    overflow-y: auto;
    color: var(--87-to-100-txt);
    word-break: break-word;
    line-height: 1.3;
  }
  &.role {
    @include fs_14_regular;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    height: 200px;
    overflow-y: auto;
    background: var(--input-select-fill);
    border: 1px solid var(--input-select-line);
    color: var(--alpha-bk-to-whbk-87);
    word-break: break-word;
    line-height: 1.3;
    p {
      @include fs_14_regular;
      color: var(--alpha-bk-to-whbk-87);
    }
  }
  p {
    @include fs_14_medium;
    color: var(--87-to-100-txt);
    word-break: break-word;
    line-height: 1.3;
  }
  .btn_flow {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}
.flow_line_steps {
  position: relative;
  padding: 0 0 0 52px;
  display: grid;
  gap: 10px;
  flex: 1;
  &::before {
    @include selector_el;
    left: 0;
    top: 0;
    width: 140px;
    height: 100%;
    background: url(../images/flow_line01.svg) left center no-repeat;
    background-size: 100% 100%;
    z-index: 0;
  }
}
.flow_step {
  @include dflx_ac_jbet;
  width: 100%;
  z-index: 1;
}
.flow_dl {
  @include fs_14_regular;
  @include dflx_as;
  gap: 10px;
  width: 100%;
  min-height: 32px;
  padding: 8px 8px 7px;
  border-radius: 8px;
  background: var(--alpha-wh-to-bkwh-20);
  color: var(--87-to-100-txt);
  dt {
    width: 40px;
  }
  dd {
    flex: 1;
  }
}
.tooltip_group {
  @include dflx_ac_jcent;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  &:hover {
    .tooltip {
      display: flex;
    }
  }
  .tooltip {
    position: absolute;
    bottom: calc(100% + 12px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: none;
  }
}
.tooltip {
  width: 280px;
}
.tooltip_in {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 16px 24px;
  gap: 20px;
  background: var(--PRI);
  border-radius: 8px;
  border: 1px solid var(--wh-to-bk-10-to-100-popu-line);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  &::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 15px;
    background: url(../images/tooltip_tri_14.svg) no-repeat center top;
    z-index: 2;
  }
}
.tip_top {
  h3 {
    @include fs_16_bold;
    color: var(--alpha-white-w_100, #fff);
  }
}
.tip_text {
  display: grid;
  gap: 8px;
}
.tip_dl {
  @include dflx_ac;
  gap: 8px;
  dt,
  dd {
    @include fs_12_regular;
    width: 100%;
    color: var(--alpha-white-w_100, #fff);
  }
}
.screen_box {
  @include dflx_ac_jcent;
  width: 100%;
  background: #808080;
  border-radius: 10px;
  overflow: hidden;
}
.img_screen_shot {
  width: 100%;
}
.modal_unit {
  @include fs_14_regular;
  color: var(--alpha-bk-to-whbk-100);
}
// .tab_box2{
// 	display: none;
// }
.setting_board {
  @include dflx_jcent;
  width: 100%;
  padding: 32px 0px;
  border-top: 1px solid var(--alpha-bk-to-whbk-10);
}
.setting_group {
  display: grid;
  gap: 24px;
  padding: 20px 0 0;
}
