@charset "utf-8";
@import '_mixin.scss';

:root{
    --bg_02: #04091A;
    --bg_01:#0A0F24;
    --background-bg_01:#0A0F24;
    --bg_01_40: #{$bg_default04};
    --bg_02_60: rgba(4, 9, 26, 0.60);
    --primary-pri_6: rgba(39, 212, 255, 0.06);
    --white-w_100: #{$fc_white};
    --white-w_100-sec: #{$fc_white};
    --white-w_87: #{$bg_grey87};
    --white-w_87-sec: #{$bg_grey87};
    --white-w_60: #{$bg_grey60};
    --white-w_40: #{$bg_grey40};
    --white-w_40-sec: #{$bg_grey40};
    --white-w_30: #{$bg_grey30};
    --white-w_20: #{$bg_grey20};
    --white-w_16: #{$bg_grey16};
    --white-w_12: #{$bg_grey12};
    --box1_border:rgba(39, 212, 255, 0.4);
    --bg_01_80: rgba(11, 17, 41, 0.8);
    --line-wh_12-to-40: #{$bg_grey12};
    --line-wh_20-to-100: #{$bg_grey20};
    --line-wh_30-to-60: #{$bg_grey30};
    --line-wh_12-to-100: #{$bg_grey12};
    --more-bright-wh_6-to-60: #{$bg_grey06};
    --white-w_6: #{$bg_grey06};
    --line-pri_40-to-wh_100: rgba(39, 212, 255, 0.40);
    --etc-bg: #04091A;
    --etc-popup_tit: rgba(39, 212, 255, 0.60);
    --background-blur_0260: rgba(56, 61, 82, 0.60);
    --point-error: #D60000;
    --point-error-10: rgba(219, 0, 0, 0.08);
    --blur_02_60: rgba(55, 61, 82, 0.60);
    --bg-blur_02_60:  rgba(55, 61, 82, 0.60);
    --radio-default: #{$bg_grey60};
    --control-disabled: #{bg_grey10};
    --background-legend: rgba(74, 78, 102, 0.8);
    --icon-icon-selected: rgba(39, 212, 255, 0.40);
    --group-icon-selected: rgba(39, 212, 255, 0.40);
    --map-ver2-hover: rgba(39, 212, 255, 0.40);
    --background-blur_02_60: rgba(55, 61, 82, 0.60);
    --background-blur_01_20: rgba(162, 164, 184, 0.20);
    --navigation-bg: #1F2333;
    --etc-FNB: rgba(39, 212, 255, 0.12);
    --black-bk_100: #{$bg_black00};

    // KISA
    --PRI: #004EA2;
    --PRI_hover: #003D7E;
    --pri_op10: rgba(0, 78, 162, 0.10);
    --PRI_plus : ;
    --PRI_plus_hover: rgba(0, 78, 162, 0.10);
    --PRI_light: #2A84DC;
    --bg_body: #030914;
    --alpha-bk-to-whbk-20: rgba(255, 255, 255, 0.20);
    --alpha-wh-to-bkwh-60: rgba(0, 0, 0, 0.60);
    --alpha-wh-to-bkwh-100: #000;
    --alpha-white-w_100: #fff;
    --wh-12: #{$bg_grey12};
    --alpha-bk-to-whbk-05: rgba(255, 255, 255, 0.05);
    --alpha-bk-to-whbk-10: rgba(255, 255, 255, 0.10);
    --alpha-white-w_20: rgba(255, 255, 255, 0.20);
    --alpha-bk-to-whbk-87: rgba(255, 255, 255, 0.87);
    --alpha-bk-to-whbk-100: rgba(255, 255, 255, 0.87);
    --alpha-bk-to-whbk-60: rgba(255, 255, 255, 0.60);
    --alpha-bk-to-whbk-40: rgba(255, 255, 255, 0.40);
    --popup-wh-10-to-60: rgba(255, 255, 255, 0.10);
    --wh-to-bk-wh-5-to-100: rgba(255, 255, 255, 0.05);
    --pri_op10: rgba(143, 195, 54, 0.10);
    --wh-to-bk-10-to-100-popu-line: rgba(255, 255, 255, 0.10);
    --wh-to-bk-10-to-80-popup-bg: rgba(51, 51, 51, 0.20);
    --Neutral-Gray-03: #3B3C40;

    --input-select-fill: rgba(255, 255, 255, 0.10);
    --input-select-line: rgba(255, 255, 255, 0.00);
    --input-select-fill-disabled: rgba(255, 255, 255, 0.20);
    --bg_nav: #131B28;
    --WH-to-BK-70-to-100: rgba(255, 255, 255, 0.70);
    --alpha-bk-to-whbk-80: #{$bg_grey80};
    --wh-to-bkwh-5-to-prilnb: rgba(255, 255, 255, 0.05);
    --bg_nav2: #17181A;
    --Neutral-Gray-03: #{$bg_grey06};
    --alpha-bk-to-whbk-50: #{$bg_grey50};
    --WH-to-BK-5-to-100: #{$bg_grey05};
    --87-to-100-txt: #{$bg_grey87};
    --bg_body_50: rgba(3, 9, 20, 0.50);
    --link-color: #70A3E0;
    --input-select-modal: #333539;
    --alpha-wh-to-bkwh-20: rgba(0, 0, 0, 0.20);
    --Neutral-Gray-04: #46484D;
    --WH-to-BK-5: #{$bg_grey05};
    --Neutral-Gray-02: #2F3033;
    --Neutral-Gray-05: #525459;
}
:root[data-theme=light] {
    --bg_02: #{$fc_white};
    --bg_01: #F5F6FA;
    --background-bg_01: #{$fc_white};
    --bg_01_40: #F3F5FD;
    --bg_02_60: rgba(245, 247, 255, 0.90);
    --primary-pri_12-to-bk: #{$bg_black00};
    --primary-pri_6: rgba(0, 104, 230, 0.06);
    --white-w_100: #{$fc_white};
    --white-w_100-sec: #{$bg_black00};
    --white-w_87: #{$bg_black87};
    --white-w_87-sec: #{$bg_black00};
    --white-w_60: #{$bg_black60};
    --white-w_40: #{$bg_black40};
    --white-w_40-sec: #{$bg_grey40};
    --white-w_30: #{$bg_black30};
    --white-w_20: #{$bg_black20};
    --white-w_16: #{$bg_black16};
    --white-w_12: #{$bg_black12};
    --box1_border: #{$fc_white};
    --bg_01_80: rgba(245, 246, 250, 0.90);
    --white-w_6: #{$bg_black06};
    --line-pri_40-to-wh_100: #{$fc_white};
    --etc-bg: #{$fc_white};
    --etc-popup_tit: rgba(0, 104, 230, 0.80);
    --background-blur_0260: rgba(56, 61, 82, 0.60);
    --point-error: #D60000;
    --point-error-10: rgba(219, 0, 0, 0.08);
    --blur_02_60: #{$bg_grey90};
    --bg-blur_02_60: rgba(55, 61, 82, 0.60);
    --grade-chart-gco-01: #FC5C34;
    --radio-default: #{$bg_black60};
    --control-disabled: #{bg_grey10};
    --icon-icon-selected: #{$fc_white};
    --group-icon-selected: rgba(51, 143, 255, 0.40);
    --navigation-bg: #E1E2E5;
    --etc-FNB:rgba(245, 246, 250, 0.90);
    --black-bk_100: #{$fc_white};
    --Neutral-Gray-03: #E6E7EB;
    
    // KISA
    --PRI: #004EA2;
    --PRI_hover: #003D7E;
    --pri_op10: rgba(0, 78, 162, 0.10);
    --PRI_plus_hover: #003D7E;
    --PRI_light: #FFF;
    --PRI_plus : #004EA2;
    --bg_body: #F5F7FA;
    --alpha-bk-to-whbk-20: rgba(0, 0, 0, 0.20);
    --alpha-wh-to-bkwh-60: rgba(255, 255, 255, 0.20);
    --alpha-wh-to-bkwh-100:  ;
    --alpha-white-w_100: #FFF;
    --wh-12: rgba(0, 0, 0, 0.12);
    --alpha-bk-to-whbk-05: rgba(0, 0, 0, 0.05);
    --alpha-bk-to-whbk-10: rgba(0, 0, 0, 0.10);
    --alpha-white-w_20: rgba(255, 255, 255, 0.20);
    --alpha-bk-to-whbk-87: rgba(0, 0, 0, 0.87);
    --alpha-bk-to-whbk-100: #000;
    --alpha-bk-to-whbk-60: rgba(0, 0, 0, 0.60);
    --alpha-bk-to-whbk-40: rgba(0, 0, 0, 0.40);
    --popup-wh-10-to-60: rgba(255, 255, 255, 0.60);
    --wh-to-bk-wh-5-to-100: #FFF;
    --pri_op10: rgba(143, 195, 54, 0.10);
    --input-select-fill: rgba(7, 3, 3, 0);
    --input-select-line: rgba(0, 0, 0, 0.20);
    --input-select-fill-disabled: rgba(0, 0, 0, 0.10);
    --wh-to-bk-10-to-100-popu-line: #FFF;
    --wh-to-bk-10-to-80-popup-bg: rgba(255, 255, 255, 0.80);

    --bg_nav: #fff;
    --WH-to-BK-70-to-100: #000;
    --alpha-bk-to-whbk-80: #{$bg_black80};
    --wh-to-bkwh-5-to-prilnb: rgba(0, 0, 0, 0.04);
    --bg_nav2: #fff;
    --Neutral-Gray-03: #E6E7EB;
    --alpha-bk-to-whbk-50: #{$bg_black50};
    --WH-to-BK-5-to-100: #fff;
    --87-to-100-txt: #000;
    --bg_body_50: rgba(240, 242, 245, 0.50);
    --link-color: #0068E6;
    --input-select-modal: rgba(255, 255, 255, 0.00);
    --alpha-wh-to-bkwh-20: rgba(255, 255, 255, 0.20);
    --Neutral-Gray-04: #DCDDE0;
    --WH-to-BK-5: #{$bg_black05};
    --Neutral-Gray-02: #F0F2F5;
    --Neutral-Gray-05: #D2D3D6;
}


/*mode button*/
.lightmode > .inner{
    position: relative;
    display: inline-flex;
    padding: 3px;
    border-radius: 24px;
    background-color: $bg_grey20;
}
html[data-theme=light] .lightmode > .inner{
    &.ver1 {
        background-color: var(--PRI);
    }
}
.outer {
    padding: 4px;
    border-radius: 50px;
    background-color: var(--wh-12);
    display: flex;
    gap: 12px;
    width: 100%;
}
.lightmode label {
    @include dflx_ac_jcent;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.lightmode label:first-of-type{
    padding: 2px;
    border-radius: 50%;
}
.lightmode label:last-of-type{
    padding: 2px;
    border-radius: 50%;
}
.lightmode i{
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
}
.lightmode input[type=radio]{
    display: none;
}
.lightmode input[type=radio]:checked + label > i {
    color: rgba(46, 138, 229, 1);
    transition: all 0.35s ease-in-out;
}
.circle_dark {
    @include dflx_ac_jcent;
    background: var(--alpha-wh-to-bkwh-100);
    height: 30px;
    width: 30px;
    padding: 2px;
}
.circle_light {
    @include dflx_ac_jcent;
    background: var(--alpha-white-w_100);
    height: 30px;
    width: 30px;
    padding: 2px;
}
.lightmode input[type=radio]:checked + label{
    background: #000;
}
html[data-theme=light] .lightmode input[type=radio]:checked + label{
    background: #fff;
}
/**/


/* html data-theme */
html[data-theme=light] {
    header{
       // background: #F3F5FD;
       // border-bottom:1px solid $bg_grey20;
    }
    .gnb {
        ul li a {
            color: var(--more-visible-wh_60-to-100);
        }
    }
    .guide_top h1{color: #000;}

    //img filter
    .stepper_arrow{
        img{@include filter_black}
    }
    .play_circle{
        img{
           content: url("../images/play_circle_light_20.svg");
        }
    }
    // select arrow
    .selectbox_arrow, .selectbox, .selectboxSample  {
        img {@include filter_black}
    }
    //table
    .bt_srch{
        @include filter_black
    }
    .selector { 
        background-image: url("../images/arrow_down_gray_16.svg");
        background-position: 96% 56% !important;
        background-size: 16px 16px !important;
    }
    .lnb_box{
        img{@include filter_black}
    }
    .login_logo {
        content: url("../images/logo_light_big.svg");
    }
    // main
    .hamberger_btn {
        content:  url("../images/hamburger_bk_24.svg");
    }
    .logo_hd_kisa{
        content: url("../images/logo_light.svg");
    }
    .bell{
        img {
            content: url("../images/bell_bk_20.svg");
        }
    }
    .user{
        img {
            content: url("../images/user_bk_20.svg");
        }
    }
    // light모드 display none
    .light_none {
        display: none;
    }
    .light_hidden {
        visibility: hidden;
    }
    .grey_box.login{
        border:1px solid $bg_grey30;
        background: var(--bg_01_80);
        p{
            background: $bg_black20;
        }
    }
    .indicator {box-shadow: 4px 4px 16px 0 rgba(4, 9, 26, 0.16);}
    .btn_bk {@include filter_black}
    .reset_blue {@include filter_blue}
    .reset_yelgreen {@include filter_yelgreen}

    // template
    .main_contents {
        width: 100%;
        height: 100%;
        background-size : cover;
        &.login {
            background: url("../images/login_light.png") no-repeat;
        }
    }
    .datepicker {
        background-image:  url("../images/calendar_bk_16.svg") !important;
    }
    .action_prev, .action_next {@include filter_black}
	.rectangle{
		background: rgba(255, 255, 255, 0.87);
	}
	.breadcrumb_home, .breadcrumb_arrow{
		@include filter_black;
		opacity: 0.87;
	}
	.bg_back{
		background: url(../images/login_light.png) no-repeat;
    	background-size: cover;
	}
	.contents_package{
		border: 1px solid $bg_grey60;
		box-shadow: -8px -8px 80px 0px rgba(0, 0, 0, 0.10);
	}
	.img_to_bk{
		@include filter_black;
	}
	.img_to_bk80{
		@include filter_black;
		opacity: 0.8;
	}
    .img_to_blue{
		@include filter_blue;
	}
	.selector{
		background-color: #fff;
		background-image: url('../images/chevron_down_bk80_16.svg');
	}
    .selector.modal{
		background-color: rgba(255, 255, 255, 0.00);
		background-image: url('../images/chevron_down_bk80_16.svg');
	}
	.round_box{
		&.sample2{
			background: #fff;
			.selector{
				background-color: #fff;
			}
		}
	}
	.img_dark{display: none;}
	.img_light{display: block;}
	.dg_dark{
		content: url('../images/dg_disable_14.svg');
	}
    .btn_white {@include filter_white;}
    .close_light {
        content: url('../images/close_line_bk_24.svg');
    }
    .photo_circle {
        background-color: rgba(0, 0, 0, 0.12) ;
    }
    .modal_close {@include filter_black;}
}
/* html data-theme End */