.accordion__wrap {
}

.accordion__item,
.accordion__item > div > a {
  color: var(--text);
}

.accordion__item > .accordion__toggle {
  font-weight: 700;
  font-size: 18px;
  color: var(--text);
  display: flex;
  justify-content: space-between;
}

.accordion__item > div {
  padding: 8px;
  cursor: pointer;
  font-weight: normal; /* 기본 폰트 굵기 */
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.accordion__item > div:hover {
  background-color: #ddd;
  font-weight: bold; /* hover 시 텍스트 굵기 증가 */
  color: #333; /* hover 시 색상 변경 */
}
.accordion__item .side-bar-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion__item.active .side-bar-content {
  display: block;
  max-height: 1000px;
}

/* 추가적인 애니메이션 효과 */
.accordion__item .side-bar-content {
  max-height: 0;
  opacity: 0;
}

.accordion__item.active .side-bar-content {
  opacity: 1;
  max-height: 1000px;
}
.accordion__toggle-arrow {
  right: 0;
  padding: 0 12px 0 12px;
  display: none;
}
.accordion__toggle-arrow.more {
  display: block;
}

.icon__arrow.img_to_bk80 {
  transform: rotate(-180deg);
  transition: transform 0.3s ease;
}

.icon__arrow.img_to_bk80.on {
  transform: rotate(0deg);
}
