.badge__docs {
  display: inline-block;
  background-color: #282c34;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  min-width: 32px;
}
