/* Drawer 컴포넌트 기본 스타일 */
.drawer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  pointer-events: none;
  z-index: 9999;
}

.drawer-wrapper.open {
  pointer-events: auto; /* 활성화 */
}

.drawer {
  z-index: 9999;

  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--bg_sidebar, #ffffff);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  overflow-y: auto;

  justify-self: center;
  align-items: center;
}

.drawer.left {
  left: 0;
  transform: translateX(-100%);
}

.drawer.right {
  right: 0;
  transform: translateX(100%);
}

.drawer__wrap.open .drawer.left {
  transform: translateX(0);
}

.drawer__wrap.open .drawer.right {
  transform: translateX(0);
}

.drawer__close-button {
  position: absolute;
  top: 25px;
  right: 28px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.drawer__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.drawer__footer {
  padding: 10px;
  height: 80px;
  border-top: 1px solid #ccc;
  background: var(--background-reverse);
  text-align: center;
  color: var(--text-reverse);
}
.drawer__text {
  color: #333 !important;
}
