.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(1.875rem);
  box-shadow: var(--box-shadow);
  z-index: 99;
}

/*  Header's type - single, multiple */
.header-single-line {
  height: auto;
  padding: 8px;
  color: var(--text-wh) !important;
}

.header-multi-line {
  height: auto; /* 두 줄은 내용에 따라 높이가 조절됨 */
  padding: 8px;
  color: var(--text) !important;
}

.header__inner {
  padding: 8px;
  /* background-color: blue; */

  max-width: 1440px;
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/* Header's left-side */
.header__left {
  display: flex;
  align-items: center;
  gap: 20px;

  /* -moz-column-gap: 16px;
  column-gap: 16px;
  padding: 0 16px 0 0; */
}
/* Header's right-side */
.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
  /* -moz-column-gap: 20px;
  column-gap: 20px;
  padding: 0 0 0 16px; */
}

/* Header's Item */
.header__logo {
  font-size: 1em;
  font-weight: bold;
}

/* Header's Navigation */
.header__nav {
  flex: 1;
}

/* Header navigation's item */
.header_nav a {
  text-decoration: none;
  font-size: 1rem;
}

.header__menu {
  display: flex;
  gap: 10px;
  padding: 8px;
}
.header__menu-item {
}
.header__menu-item-link {
  color: var(--text);
}
.header__menu-item.active .header__menu-item-link {
  font-weight: 700;
  color: var(--primary-50);
}
.header__menu-item:hover .header__menu-item-link {
  color: var(--secondary);
}

.header__user-actions {
  display: flex;
  align-items: center;
}

.header__console-clear,
.header__language-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}
/* Header's sub-menu */
.header__submenu {
  display: flex;
  top: 100%;
  /* height: 50%; */

  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  gap: 4px;
}

.header__submenu-item {
  padding: 8px;
  box-sizing: border-box;
  font-size: 14px;
}

.header__submenu-link {
  padding-bottom: 16px;
  color: var(--text);
}

.header__submenu-link:hover {
  color: var(--secondary);

  border-bottom: 1px solid var(--secondary);
}
.header__submenu-item.active .header__submenu-link {
  font-weight: 900;
  border-bottom: 1px solid;
  color: var(--primary-50);

  /* color: var(--primary-color);  */
}
