.markdown__wrap {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  /* background-color: blue; */
  /* width: 100%; */
}
.markdown__wrap .code-container pre {
  /* font-family: Consolas, "Courier New", Courier, monospace; */
  font-size: 16px;
  overflow: auto;
}
.markdown__code {
}

.mac {
  border-radius: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.mac__header {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: --grayScale;
}

.mac__header-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

.mac__header-dot.red {
  background-color: red;
}

.mac__header-dot.yellow {
  background-color: yellow;
}

.mac__header-dot.green {
  background-color: green;
}

.code__container {
  padding: 15px;
  background-color: #282c34;
  font-family: monospace;
  font-size: 18px;
  line-height: 1.5;
}

/* PC: 1024px 이상 */
@media (min-width: 1024px) {
  .mac {
    width: 650px;
  }
}

/* 태블릿: 768px ~ 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .mac {
    width: 450px;
    /* background-color: red; */
    /* margin: auto; */
  }
}

/* 휴대폰: 767px 이하 */
@media (max-width: 767px) {
  .mac {
    width: 90%; /* 화면의 90% */
    max-width: 400px; /* 최대 너비 제한 */
    margin: auto;
  }
}
